<div class="container">
    <div class="main-title animated fadeInDown">
        <a href="/#/" class="centered">
            <img src="img/pach-logo.png" class="about-logo"
                alt="PACH: Poetry And Cheap Humor" title="Go back to Homepage">
        </a>
    </div>
    
    <div class="about-body animated fadeIn">
        <p class="lead">
            <strong>PACH</strong> stands for <strong>Poetry And Cheap Humor</strong>.
            That's two things in one.
            Poetry is what we do, and Humor is how we do it. We're a place for
            poetry to feel at home, where poetry is nurtured not judged, where you
            turn into the poet you really are. PACH is where poetry is set free.
        </p>
        
        <br>
        <p class="lead">
            People here feel ensconced in a womb of love. They feel accepted as
            they are. They feel comfortable to share their most intimate
            creations. They feel loved. And most importantly, they feel confident
            about their creativity.
        </p>
        
        <br>
        <p class="lead">
            The core ideal of PACH is to be a place where you're not afraid to
            express. Poetry is only the medium, what you express is a part of you.
            A deep, raw and intense part of you. That expression is the treasure
            of PACH.
        </p>

        <br>
        <p class="lead">
            It's like landing on the moon after living your life on earth. You
            feel six times lighter. You feel like it's a whole new world. You just
            feel romantic for no reason. Oh, and you feel funny
            In the stomach, if you get the drift.
        </p>

        <br>
        <p class="lead">
            Poetry is everywhere. It's in forever-hidden diaries, it's in
            forgotten margins of besotten letters, in scratched sentences on
            broken benches, in flowery pages, in long-lost ages, in the influence
            of booze, on the walls in public loos, in two split parts, in two
            split hearts, in listless eyes, in love, in sighs, poetry is
            everywhere. And PACH is where poetry finds expression.
        </p>

        <br>
        <p class="lead">
            <strong>There is poetry in you. Let's PACH it out together.</strong>
        </p>
    </div>
    
    <div class="footer-strip animated fadeInUp">
        <img class="img-responsive centered" src="img/footers/panda-strip.png">
    </div>
    
</div>


