<div class="container">
    <div class="main-title animated fadeInDown">
        <a href="/#/" class="centered">
            <img src="img/pach-logo.png" class="about-logo"
                alt="PACH: Poetry And Cheap Humor" title="Go back to Homepage">
        </a>
    </div>
    
    <div class="pach-thumbnails centered animated fadeIn">
        {{#each rows}}
        <div class="row">
            {{#each columns}}
            <div class="col-xs-4 col-xs-offset-4 center-children">
                <a data-toggle="lightbox" href="#pach-chronicles-{{id}}" class="img-thumbnail centered">
                    <img src="img/posters/thumb/{{id}}.png" 
                        class="img-responsive" title="{{title}}" alt="{{name}}">
                </a>
                <div id="pach-chronicles-{{id}}" class="lightbox fade center-children"
                    tabindex="-1" role="dialog" aria-hidden="true">
                    <div class='lightbox-dialog'>
        				<div class='lightbox-content'>
        					<iframe src="http://docs.google.com/viewer?url=https%3A%2F%2Fdl.dropboxusercontent.com%2Fu%2F1140834%2Fpach%2FPACH%252015%2520Newsletter.pdf&embedded=true" width="600" height="780" style="border: none;"></iframe>
        					<div class="lightbox-caption"><p>{{title}}</p></div>
        				</div>
        			</div>
        		</div>
            </div>
            {{/each}}
        </div>
        <hr>
        {{/each}}
    </div>
    
    <div class="footer-strip animated fadeInUp">
        <img class="img-responsive centered" src="img/footers/doggy-strip.png">
    </div>

</div>


