<div class="top-banner jumbotron animated fadeInDown">
    <img class="img-responsive" src="img/animals.png">
</div>

<div class="main-menu animated fadeIn center-children">
    <div class="btn-group-vertical centered">
        <a class="btn btn-default btn-lg menu-item menu-item-even" href="/#/chronicles">
            <strong>PACH Chronicles</strong>
        </a>
        <a class="btn btn-default btn-lg menu-item menu-item-odd" href="/#/posters">
            <strong>PACH Posters</strong>
        </a>
        <a class="btn btn-default btn-lg menu-item menu-item-even" href="/#/about">
            <strong>About PACH</strong>
        </a>
    </div>
</div>

<div class="social-icons centered animated fadeInUp">
    <a target="_blank" href="https://facebook.com/pach.poetry">
        <i class="facebook icon"></i>
    </a>
    <a target="_blank" href="https://twitter.com/pachpoetry">
        <i class="twitter icon"></i>
    </a>
    <a target="_blank" href="https://youtube.com/pachpoetry">
        <i class="youtube icon"></i>
    </a>
    <a href="mailto:poetry@pach.in">
        <i class="email icon"></i>
    </a>
</div>
