<div class="top-banner jumbotron animated fadeInDown">
    <img class="img-responsive" src="img/animals.png">
</div>

<div class="main-menu animated fadeIn center-children">
    <div class="btn-group btn-group-vertical centered">
        <!--<a class="btn btn-default btn-lg menu-item menu-item-odd" href="/#/board">-->
        <!--    <strong>PACH Board</strong>-->
        <!--</a>-->
        <a class="btn btn-default btn-lg menu-item menu-item-even" href="/#/chronicles">
            <strong>PACH Chronicles</strong>
        </a>
        <a class="btn btn-default btn-lg menu-item menu-item-odd" href="/#/posters">
            <strong>PACH Posters</strong>
        </a>
        <a class="btn btn-default btn-lg menu-item menu-item-even" href="/#/about">
            <strong>About PACH</strong>
        </a>
    </div>
</div>

<div class="social-icons centered animated fadeInUp">
    <a target="_blank" href="http://www.facebook.com/pach.poetry">
        <img src="img/social-icons/facebook.png" class="facebook icon">
    </a>
    <a target="_blank" href="http://twitter.com/pachpoetry">
        <img src="img/social-icons/twitter.png" class="twitter icon">
    </a>
</div>
