<div class="container">
    <div class="main-title animated fadeInDown">
        <a href="/#/" class="centered">
            <img src="img/pach-logo.png" class="about-logo"
                alt="PACH: Poetry And Cheap Humor" title="Go back to Homepage">
        </a>
    </div>
    <div class="page-header animated fadeIn" style="
        text-align: center;
        margin-top: -25px;
    ">
      <h1>Posters</h1>
    </div>
        
    <div class="pach-subscribe center-children animated fadeIn">
        <form name="subscribe" class="subscribe-form">
            <label>
                <h4 class="subscribe-label">Subscribe to get invitations for PACH Meets! &nbsp; </h4>
                <input type="email" name="email" placeholder="Enter your email"
                    class="subscribe-input" required>
            </label>
            <input type="submit" class="btn subscribe-submit" value="✔">
        </form>
    </div>
    <hr>
    
    <div class="pach-thumbnails centered animated fadeIn">
        {{#each rows}}
        <div class="row">
            {{#each columns}}
            <div class="col-xs-4 centered pach-thumbnail">
                <a href="{{download}}" target="_blank" class="pach-link img-thumbnail">
                    <img src="{{thumb}}" 
                        class="img-responsive" title="{{title}}" alt="{{title}}">
                </a>
                <div class="pach-caption">
                    <p class="pach-name">{{name}}</p>
                    <p class="pach-description">{{description}}</p>
                </div>
            </div>
            {{/each}}
        </div>
        <hr>
        {{/each}}
    </div>
    
    <div class="footer-strip animated fadeInUp">
        <img class="img-responsive centered" src="img/footers/makkhi-strip.png">
    </div>

</div>