.glyphicon {
    font-size: 0.8em;
}

.modal-backdrop {
    z-index: 1039;
}

.lightbox .lightbox-dialog .lightbox-content .lightbox-caption {
    font-size: 18px;
}

body {
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
